/*-------------------- dependencies*/

@import "_control";
@import "_inputz";

/*----------------------------------------------------------------------*/


/*aside*/

aside{
    @include mainPadding;
    
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    
    @include tablet{
       padding-top: 2.5rem;
       padding-bottom: 2.5rem;
    }
    
    
    @include tabletLandscape{
        position: fixed;
        display: block;
        top: px(85);
        left: 0;
        width: px(280);
        padding-right: 1rem !important;
    }
    
    @include desktop{
        padding-top: 3.5rem;
       padding-bottom: 3.5rem;
    }
    
    @include desktopXL{
        position: fixed;
        display: block;
        top: px(90);
        left: 0;
        width: px(290);
        padding-right: 1.5rem;
    }
    
    ul,li,ol{
        display: block;
    }
    
    >ul{
        >li{
            font-weight: 600;
            
            >ul{
                padding-left: 0.5rem;
                padding-top: 0.5rem;
            }
        }
    }
    
    ol{
        display: none;
        padding-left: 1.3rem;
        
        
        >li{
            position: relative;
           // tree
           &:before,&:after{
          content: '';
          position:absolute;
           background-color: $fontColor;
          }
          &:before{
           height: 2rem;
           width: px(1);
           left: px(-14);
           top: px(-8);
          } 
        }
        
        a{
            position: relative;
           // tree
           &:before{
             content: '';
             position:absolute;
              background-color: $fontColor;
               height: px(1);
           width: 0.3rem;
           left: px(-13);
            bottom: px(11);
          }
            &:after{
               content: '';
               position:absolute;
                height: 0.3rem;
                background-color: #ffffff;
                width: px(1);
                left: px(-14);
                top: px(13);
            }
        }
    }
    
    li{
        font-size: 1.05rem;
        font-weight: 400;
        padding-top: 0.35rem;
        >ul{
         padding-left: 1rem;   
        }
    }
    
    
    a{
        display: inline-flex;
        cursor: pointer;
        align-items: center;
        transition: opacity 400ms;
        .icon{
            width: px(16);
            height: px(16);
            margin-right: px(7);
            position: relative;
            bottom: px(1);
        }
        
        &.active {
            & + ol {
                display: block;
            }
        }
        
        &.disable{
           color: $dangerRed;
            .icon{
               fill :  $dangerRed;
            }
            & + ol {
                >li{
                   color: $dangerRed;
                   &:before,&:after{
                   background-color: $dangerRed; 
                  }  
                }
               
            }

        }
    }
    
    button{
        @include iz-btn;
        margin-top: 2rem;
        letter-spacing: px(0.4);
    }
    
}

/*main*/

main{
    padding-top: 2rem;
    @include desktopMix{
        padding-bottom: 5rem;
    }
    form{
        p{
            font-size: 1.05rem;
            font-weight: 600;
            padding-bottom: 1rem;
        }
        
        button{
            @include iz-btn;
            display: none;
            margin-top: 1rem;
           letter-spacing: px(0.4);
            
            @include desktopMix{
                display: inline-block;
            }
        }
        
        label{
            cursor: pointer;
        }
        
    }
    
    .desc{
            padding-bottom: 2rem;
            
            .imp{
                display: block;
                color: $dangerRed;
                
                &:before{
                    content: '* ';
                }
            }
            ul{
               display: block;
                padding-left: 1.3rem;
             }
           li{
              display: list-item;
               list-style-type: disc;
            }
            
        }
}