          <section>

                  <p class="heading">Date Picker</p>
                   <div class="componentsBox">

                      <p class="red">The Components Below this paragraph requires Javascript Support. please attach <strong>inputz.js</strong> to use them</p>

                       <p>
                         <label>
                             <input type="text" data-izObject="datePicker" placeholder="mm/dd/yyyy">
                         </label>

                       </p>



                           <div class="codeHolder">
                               <div class="codeButtons">
                                   <a data-id="codeButtonHtml" class="active"><%- icons('html') %> <span>Html</span></a>
                                   <a data-id="codeButtonCss"><%- icons('css') %> <span>Sass</span></a>
                                   <a data-id="codeButtonJs"><%- icons('js') %> <span>Js</span></a>
                               </div>
                               <div class="codeWindow active" data-id="codeHtml">
                                   <xmp>
                                       Date Picker
                                       -----------
                                       <label>
                                        <input type="text" data-izObject="datePicker">
                                       </label>

                                   </xmp>
                               </div>
                               <div class="codeWindow" data-id="codeCss">
                                   <xmp>
                                       Date Picker
                                       -----------
                                       [data-izParent="datePicker"]{
                                          @include iz-search;
                                       }

                                   </xmp>
                               </div>
                               <div class="codeWindow" data-id="codeJs">
                                   <xmp>
                                       Date Picker
                                       -----------
                                       izObject.datePicker();

                                   </xmp>
                               </div>
                           </div>


                   </div>

                  </section>
